<html>
  <head>
    <title>Pizza</title>
    <link rel='stylesheet' type='text/css' href='style.css' />
  </head>
  <body>
    <h1 id='message'>{{message}}</h1>
    <img id='pizza' src='pizza.svg' />
  </body>
</html>